@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 0%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: none;
}

